header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 1.25rem 0;
    z-index: 4;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.5s ease;

    &.scrolled {
        border-bottom-color: $border-color;
        background-color: $body-bg;
    }
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.navbar__link {
    font-weight: 900;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.3em;
    display: inline-block;

    svg {
        margin-right: 0.5em;
        color: $base-text-color;
    }
}

.navbar__brand,
.navbar__link {
    font-weight: 900;
}

.navbar__sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;

    &.show {
        opacity: 1;
        pointer-events: all;

        .navbar__list {
            transform: translateX(0);
        }
    }
}

.navbar__list {
    list-style: none;
    background-color: $body-bg;
    padding: 2rem 1rem;
    transform: translateX(120%);
    box-shadow: 0rem 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
    width: fit-content;
    width: -moz-fit-content;
    margin: 5rem 1.5rem;
    border-radius: $ui-border-radius;
    display: flex;
    flex-direction: column;
}

.navbar__list-item + .navbar__list-item {
    margin-top: 1rem;
}

.navbar__toggler {
    all: unset;
    display: grid;
    place-items: center;
    width: 1.5rem;
    height: 2rem;

    &.show {
        .navbar__toggler-icon {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

.navbar__toggler-icon {
    display: inline-block;
    background-color: $base-text-color;
    width: 100%;
    height: 0.25rem;
    position: relative;
    border-radius: 0.3em;
    transition: all 0.5s ease;

    &::before,
    &::after {
        border-radius: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 0.25rem;
        background-color: $base-text-color;
        top: 0;
        left: 0;
        transform: translateY(-0.5rem);
        transition: inherit;
    }

    &::after {
        transform: translateY(0.5rem);
    }
}

@include media-breakpoint-up(sm) {
    .navbar__list {
        max-width: fit-content;
        max-width: -moz-fit-content;
    }
}

@include media-breakpoint-up(xl) {
    .navbar__sidebar {
        all: unset;
    }

    .navbar__toggler {
        display: none;
    }

    .navbar__list {
        all: unset;
        list-style: none;
        display: flex;
    }

    header {
        padding: 1.75rem 0.5rem;
    }

    .navbar__list-item + .navbar__list-item {
        margin-top: 0;
    }

    .navbar__link {
        transition: background-color 0.3s ease;
        svg {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: darken($body-bg, 5%);
        }
    }
}
