.contact__links-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2.25rem;
}

.contact {
    span.d-inline-block {
        display: inline-flex !important;
        align-items: center;
        flex-direction: column;
    }
    svg {
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin-bottom: 0.25rem;
    }
}

@include media-breakpoint-up(md) {
    .contact__links-wrapper {
        max-width: 20rem;
    }
}
